<div class="container">
    <!--filters-->
<main-chart></main-chart>
    <!--filters   -->
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-primary" ng-click="$ctrl.getData()">Get data</div>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <th>Symbol</th>
                <th>Stock Price</th>
                <th>52wk Hi-Low %</th>
                <th>Expiry</th>
                <th>Strike</th>
                <th>Option Bid</th>
                <th>Strike OTM %</th>
                <th>Next Ex-Date</th>
                <th>Proj. Div(s)</th>
                <th>Standstill Return %</th>
                <th>if Called Return %</th>
                <th>HV30</th>
                <th>Industry</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in $ctrl._CoveredCall._data.data.data.coveredCallScanner.strategyInfoList">


                    <td ng-bind="::data.symbol | uppercase"></td>
                    <td ng-bind="::data.stockPrice"></td>
                    <td ng-bind="::data.hiLoPercent52Week | number:2"></td>
                    <td ng-bind="::data.expiry | date : shortDate"></td>
                    <td ng-bind="::data.strikePrice"></td>
                    <td ng-bind="::data.optionBid"></td>
                    <td ng-bind="::data.strikePercentOtm | number:2"></td>
                    <td ng-bind="::data.nextExpirationDate | date : shortDate"></td>
                    <td ng-bind="::data.projectedDividends"></td>
                    <td ng-bind="::data.standStillReturnPercent | number:2"></td>
                    <td ng-bind="::data.ifCalledReturnPercent | number:2"></td>
                    <td ng-bind="::data.hv30 | number:2"></td>
                    <td ng-bind="::data.industryCode"></td>
                </tr>
            </tbody>
        </table>

    </div>


    <!--<pre>-->
        <!--{{ $ctrl._CoveredCall._data.data.data.coveredCallScanner.strategyInfoList | json }}-->
    <!--</pre>-->
</div>